body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #999999);
    color: #2e2e8f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: transparent;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px; /* Reduced margin to avoid excessive space between items */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #2e2e8f;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Prevents text from wrapping */
    display: block; /* Ensures each link has its own block with the rounded background */
}

nav ul li a:hover {
    background-color: #1e1e8f;
}


main {
    text-align: center;
    flex-grow: 1;
}

.hero-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 28px;
    margin: 10px 0;
    color: #2e2e8f;
    line-height: 1.5;
    font-weight: bolder;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup {
    background-color: #5a67d8;
    color: white;
    margin-right: 10px;
}

.signup:hover {
    background-color: #43479a;
}

.login {
    background-color: #3b82f6;
    color: white;
}

.login:hover {
    background-color: #1e40af;
}

footer {
    text-align: center; /* Center the text and image */
    font-size: 14px;
    color: #333;
    padding-bottom: 20px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    gap: 10px; /* Add some space between the text and image */
}

footer p {
    margin: 0; /* Remove any default margin from the paragraph */
}

.contact-icon {
    width: 30px;
    height: auto;
}

